@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, textarea, button, a {
    font: 400 1.6rem 'Inter', sans-serif;
}

.listGames{
    position: relative;
}

.listGames .swiper-slide{
    width: 230px !important;
}

.listGames .swiper-button-next,
.listGames .swiper-button-prev{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    width: 110px;
    height: 314px;
    top: 0;
    z-index: 100;
    cursor: pointer;
}

.listGames .swiper-button-next{
    left: 95%;
    border-radius:10px 0 0 10px;
}

.listGames .swiper-button-prev{
    border-radius: 0 10px  10px 0;
}

.listGames .swiper-button-next::after {
    content: ""; 
    background-image: url("arrow.svg");
    background-repeat: no-repeat; 
    background-size: contain; 
    background-position: center; 
    display: block; 
    width: 40px; 
    height: 60px; 
}

.listGames .swiper-button-prev::after {
    content: ""; 
    background-image: url("arrow.svg");
    background-repeat: no-repeat; 
    background-size: contain; 
    background-position: center; 
    display: block; 
    width: 40px; 
    height: 60px; 
    transform: scaleX(-1);
}
